* {
    padding: 0;
    margin: 0;
}

vg.logo {
    margin-top: 10px;
    margin-left: 30px;
}

header nav {
    display: none;
}

header svg.hamburguer {
    display: inline-block;
    position: absolute;
    right: 30px;
}

body {
    text-align: center;
}

hr {
    width: 40px;
    /* align-items: center; */
}

img.family{
    display: block;
    position: absolute;
    top: 50px;
}

div.main {
    display: block;
    position: relative;
    top: 500px;
}