.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

header {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    background-color: #fff;
    padding: 30px 0px;
    position: relative;
    z-index: 5;
}

header svg.logo {
    margin-left: 125px;
}

nav {
    float: right;
    margin-right: 125px;
    display: block;
}

nav a {
    margin: 33px;
    color: hsl(273, 4%, 51%);
    text-decoration: none;
}

nav a:hover {
    color: hsl(270, 9%, 17%);
    transition: background 0.5s;
}

nav a.esp {
    color: hsl(270, 9%, 17%);
    padding: 13px 33px;
    border: solid 2px hsl(270, 9%, 17%);
    margin: 0;
}

nav a.esp:hover {
    color: #fff;
    background-color: hsl(270, 9%, 17%);
    transition: background 0.3s;
}

body {
    font-size: 16px;
    font-weight: 400, 700;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

div.main {
    background-color: hsl(256, 26%, 20%);
    height: 600px;
    width: 100%;
    display: inline-block;
}

div.main div, div.main img {
    display: inline-block;
}

div.main hr {
    margin-top: 80px;
    margin-left: 125px;
    width: 150px;
    border-top: solid 1px #fff;
}

div.main div {
    color: #fff;
    width: 500px;
    margin-top: 35px;
    margin-left: 125px;
    margin-right: 25px;
}

div.main h1 {
    font-size: 70px;
    margin: 0px;
    margin-bottom: 20px;
}

div.main button {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    cursor: pointer;
    background-color: hsl(256, 26%, 20%);
    border: solid 1px #fff;
    padding: 13px 33px;
    color: #fff;
}

div.main button:hover {
    background-color: #fff;
    color: hsl(256, 26%, 20%);
    transition: background 0.3s;
}

div.main img {
    float: right;
    margin-right: 125px;
}

svg.p-left, svg.p-right {
    position: absolute;
} 

svg.p-left, svg.p-right {
    z-index: 0;
}

svg.p-right {
    right: -40px;
    top: -10px;
}

svg.p-left {
    margin-top: 430px;
}

hr.wd {
    margin-top: 300px;
    margin-left: 125px;
    width: 150px;
    border-top: solid 1px hsl(273, 4%, 51%);
}

h1.wd {
    margin-left: 125px;
    font-size: 70px;
    color: hsl(270, 9%, 17%);
}

div.features{
    margin-left: 125px;
    margin-right: 125px;
}

div.features div{    
    display: inline-block;
    width: 350px;
    font-weight: 400;
}

div.features div.AP{
    margin: 0 20px;
}

div.features div h2{
    color: hsl(270, 9%, 17%);
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 30px;
}

div.features div p{
    color: hsl(273, 4%, 51%);
}

div.find-out {
    margin: 160px 125px;
    background-color: hsl(256, 26%, 20%);
    color: #fff;
    height: 250px;
}

div.find-out h1{
    margin: 70px;
    margin-left: 110px;
    width: 490px;
    font-size: 55px;
    line-height: 1;
    display: inline-block;
}

div.find-out button{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: solid 1px #fff;
    padding: 13px 33px;
    color: #fff;
    float: right;
    margin-top: 105px;
    margin-right: 110px;
    position: relative;
    z-index: 2;
}

div.find-out button:hover {
    background-color: #fff;
    color: hsl(256, 26%, 20%);
    transition: background 0.3s;
}

svg.p-hww{
    position: absolute;
    right: 125px;
    top: 1602px;
}