.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

header{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    margin: 30px 0px;
}

header svg.logo{
    margin-left: 100px;
}

nav{
    float: right;
    margin-right: 100px;
    display: block;
}

nav a{
    margin: 25px;
    color: hsl(273, 4%, 51%);
    text-decoration: none;
}

nav a.esp{
    color: hsl(270, 9%, 17%);
    padding: 10px 25px;
    border: solid 2px hsl(270, 9%, 17%);
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400, 700;
}

div.main {
    background-color: hsl(256, 26%, 20%);
    height: 600px;
}